.container.mx-auto.max-w-4xl.clear-both
    div.my-12
        h2.my-8.text-center.text-2xl.font-bold Behind the Scenes
        .ui.grid.gap-4(class="grid-flow-cols grid-cols-1 md:grid-cols-3")
            .p-6.gradient-grey
                img.object-cover.object-center.w-full.h-72(src='https://source.unsplash.com/random/300x300/?1', alt='', class='bg-gray-500')
                .mt-4.mb-2
                    h2.text-xl.font-semibold.tracking-wide Late August Production Update
                    p
                        | Mauris et lorem at ullamcorper elit tristique dignissim et ullamcorper elit. In sed feugiat mi. Etiam ut lacinia dui.
            .p-6.gradient-grey
                img.object-cover.object-center.w-full.h-72(src='https://source.unsplash.com/random/300x300/?2', alt='', class='bg-gray-500')
                .mt-4.mb-2
                    h2.text-xl.font-semibold.tracking-wide Late August Production Update
                    p
                        | Mauris et lorem at ullamcorper elit tristique dignissim et ullamcorper elit. In sed feugiat mi. Etiam ut lacinia dui.
            .p-6.gradient-grey
                img.object-cover.object-center.w-full.h-72(src='https://source.unsplash.com/random/300x300/?3', alt='', class='bg-gray-500')
                .mt-4.mb-2
                    h2.text-xl.font-semibold.tracking-wide Late August Production Update
                    p
                        | Mauris et lorem at ullamcorper elit tristique dignissim et ullamcorper elit. In sed feugiat mi. Etiam ut lacinia dui.
            .p-6.gradient-grey
                img.object-cover.object-center.w-full.h-72(src='https://source.unsplash.com/random/300x300/?4', alt='', class='bg-gray-500')
                .mt-4.mb-2
                    h2.text-xl.font-semibold.tracking-wide Late August Production Update
                    p
                        | Mauris et lorem at ullamcorper elit tristique dignissim et ullamcorper elit. In sed feugiat mi. Etiam ut lacinia dui.
            .p-6.gradient-grey
                img.object-cover.object-center.w-full.h-72(src='https://source.unsplash.com/random/300x300/?5', alt='', class='bg-gray-500')
                .mt-4.mb-2
                    h2.text-xl.font-semibold.tracking-wide Late August Production Update
                    p
                        | Mauris et lorem at ullamcorper elit tristique dignissim et ullamcorper elit. In sed feugiat mi. Etiam ut lacinia dui.
            .p-6.gradient-grey
                img.object-cover.object-center.w-full.h-72(src='https://source.unsplash.com/random/300x300/?6', alt='', class='bg-gray-500')
                .mt-4.mb-2
                    h2.text-xl.font-semibold.tracking-wide Late August Production Update
                    p
                        | Mauris et lorem at ullamcorper elit tristique dignissim et ullamcorper elit. In sed feugiat mi. Etiam ut lacinia dui.