.container.mx-auto.max-w-2xl
    div.mt-32.mb-12
        h2.my-4.text-center.text-2xl.font-bold Characters
        ul.items-center.my-2(class='grid grid-flow-col auto-cols-max')
          li.p-2.m-2
            a(rel='noopener noreferrer' href='#' class='dark:border-transparent opacity-100 hover:opacity-100' title='Anak')
              img.max-w-none.object-cover(width=50 height=50 src="assets/characters/Anak.svg")
          li
            a(rel='noopener noreferrer' href='#' class='dark:border-transparent opacity-50 hover:opacity-100' title='Ang Mata')
              img.max-w-none.object-cover(width=60 height=60 src="assets/characters/Ang Mata.svg")
          li
            a(rel='noopener noreferrer' href='#' class='dark:border-transparent opacity-50 hover:opacity-100' title='Bulawan Dakong Umang')
              img.max-w-none.object-cover(width=60 height=60 src="assets/characters/Bulawan Dakong Umang.svg")
          li
            a(rel='noopener noreferrer' href='#' class='dark:border-transparent opacity-50 hover:opacity-100' title='Jim')
              img.max-w-none.object-cover(width=60 height=60 src="assets/characters/Jim.svg")
          li
            a(rel='noopener noreferrer' href='#' class='dark:border-transparent opacity-50 hover:opacity-100' title='President Serena Barbate')
              img.max-w-none.object-cover(width=60 height=60 src="assets/characters/President Serena Barbate.svg")
          li
            a(rel='noopener noreferrer' href='#' class='dark:border-transparent opacity-50 hover:opacity-100' title='Ryoko')
              img.max-w-none.object-cover(width=60 height=60 src="assets/characters/Ryoko.svg")
          li
            a(rel='noopener noreferrer' href='#' class='dark:border-transparent opacity-50 hover:opacity-100' title='The Founder')
              img.max-w-none.object-cover(width=60 height=60 src="assets/characters/The Founder.svg")
          li
            a(rel='noopener noreferrer' href='#' class='dark:border-transparent opacity-50 hover:opacity-100' title='The Visayans')
              img.max-w-none.object-cover(width=60 height=60 src="assets/characters/The Visayans.svg")
          li
            a(rel='noopener noreferrer' href='#' class='dark:border-transparent opacity-50 hover:opacity-100' title='Tom')
              img.max-w-none.object-cover(width=60 height=60 src="assets/characters/Tom.svg")
          li
            a(rel='noopener noreferrer' href='#' class='dark:border-transparent opacity-50 hover:opacity-100' title='Umang')
              img.max-w-none.object-cover(width=60 height=60 src="assets/characters/Umang.svg")
        div.py-12
          h3.my-4.text-xl.font-bold Anak
          img(class="md:float-right md:pb-8" width=384 height=216 src="assets/characters/Anak.svg")
          p.
            Species: Balubid
          br
          p.
            Born: 1535 AD on Camiguin Island in the Philippines
          br
          p.
            Bio:
            The last Balubid, Anak's egg was found by Nick in the 16th century on under the Santo Nino cold spring in Camiguin Island in the Philippines.
          p.
            It's implied there was previously an ice glacier under the Santo Nino cold spring.