script.
    // @see https://studiosimpati.co/developer-center/element-viewport-check/
    function isInViewport (elem, offset = 0) {
        const bounding = document.querySelector(elem).getBoundingClientRect();
        return (bounding.top >= 0 && bounding.bottom <= (window.innerHeight || document.documentElement.clientHeight) + offset);
    }
    
header#homepage-header.transition-all.ease-in-out.delay-150(
    x-data='{ stickyHeader: false }'
    @scroll.window="stickyHeader = !isInViewport('#comic-slider')"
)
    .gradient-sky(class="min-w-full h-[400px] lg:h-[575px] absolute -z-10")
    .gradient-water(class="min-w-full h-[100px] lg:h-[175px] absolute -z-10 top-[400px] lg:top-[575px]")
    .gradient-water-edge(class="min-w-full h-[200px] lg:h-[300px] absolute -z-10 top-[500px] lg:top-[750px]")
    div(class="relative z-0")
    #hero_wrapper(x-data="{show_badlit: false}" @mouseover.away="show_badlit = false")
        #hero(@mouseover="show_badlit = true")
        a.logo(href='#')
            h1()
                img(class="english_logo max-w-[250px] lg:max-w-sm mx-auto pt-14 lg:pt-20" src='assets/Kamigen Logo.svg')
                img(class="badlit_logo opacity-0 max-w-[250px] -mt-[120px] lg:-mt-[160px] -mb-[60px] lg:-mb-[69px] lg:max-w-sm mx-auto pt-14 lg:pt-20" src='assets/Kamigen Logo - Badlit.svg')
                div(class="max-w-[290px] lg:max-w-md mx-auto mt-6 border-b  border-black ")
        div(class="text-center pt-10")
            p(:class="show_badlit ? 'hidden' : ''") A story about Visayans
            p(:class="show_badlit ? '' : 'hidden'") Istorya sa Bisaya
    img(class="max-w-xs md:max-w-md lg:max-w-2xl mx-auto mt-[175px] md:mt-[165px] lg:mt-[290px] mb-20" src='assets/Kamigen Island.svg')
    div.menu.fixed.top-0.left-0.-right-0.z-10(x-show="stickyHeader")
        div
            .gradient-sky(class="min-w-full h-[100px] lg:h-[100px] absolute -z-10")
            .gradient-water(class="min-w-full h-[10px] lg:h-[10px] absolute -z-10 top-[100px] lg:top-[100px]")
            .gradient-water-edge(class="min-w-full h-[25px] lg:h-[25px] absolute -z-10 top-[110px] lg:top-[110px]")
        .container.justify-between.h-24.mx-auto(class='md:justify-center md:space-x-8 lg:flex')
            a.logo(href='#')
                h1(class="mt-4 mx-auto lg:mx-0")
                    img(class="english_logo max-w-[200px] mx-auto pt-3" src='assets/Kamigen Logo.svg')
                    img(class="badlit_logo opacity-0 max-w-[200px] -mt-[120px] lg:-mt-[160px] -mb-[60px] lg:-mb-[69px] lg:max-w-[220px] mx-auto pt-14 lg:pt-20" src='assets/Kamigen Logo - Badlit.svg')
                    img(class="max-w-[140px] mx-auto mt-[45px] lg:mt-[60px]" src='assets/Kamigen Island.svg')
            ul.items-stretch.space-x-6(class='hidden lg:flex')
                li.flex
                    a.flex.items-center.px-4.mx-4.-mb-1.border-b-2(rel='noopener noreferrer' href='#' class='dark:border-transparent') Comics
                li.flex
                    a.flex.items-center.px-4.mx-4.-mb-1.border-b-2(rel='noopener noreferrer' href='#' class='dark:border-transparent') Characters
                li.flex
                    a.flex.items-center.px-4.mx-4.-mb-1.border-b-2(rel='noopener noreferrer' href='#' class='dark:border-transparent') Locations
                li.flex
                    a.flex.items-center.px-4.mx-4.-mb-1.border-b-2(rel='noopener noreferrer' href='#' class='dark:border-transparent') Behind the Scenes
                li.flex
                    a.flex.items-center.px-4.mx-4.-mb-1.border-b-2(rel='noopener noreferrer' href='#' class='dark:border-transparent') Links
