block vendor_scripts
  script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.js')
  script(async='async',src='https://www.googletagmanager.com/gtag/js?id=UA-126811218-1')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/tween.js/17.4.0/Tween.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/three.js/r116/three.min.js')
  script(src='./vendor/ImprovedNoise.js')
  script(src='./vendor/simplex.js')
  script(src='./vendor/threex.keyboardstate.js')
  script(src='./vendor/stats.min.js')
  script(src='./vendor/OrbitControls.js')
  script(src='./vendor/Water.js')
  script(src='./vendor/Sky.js')
block scripts
  script(data-ad-client="ca-pub-5962056869598854" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")
  script.
    $(document).ready(()=>{
      $('#mobile_menu_toggle').click(()=>{
        $('#mobile_menu .item:not(.logo)').slideToggle();
      });
    });
  script.
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-126811218-1');
  script.       
    (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://kamigen.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
  script.
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-V14S7QR4X4');
  script.
    var _paq = window._paq = window._paq || [];
    /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
      var u="https://analytics.openstudios.xyz/";
      _paq.push(['setTrackerUrl', u+'matomo.php']);
      _paq.push(['setSiteId', '8']);
      var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
      g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
    })();
