extends /src/templates/wiki.pug

block prepend title
  - var page_title_string = "Creative Somersault: Why we didn't use generative AI in Kamigen | Blog";

block prepend content
  - var page_title_string = "Creative Somersault: Why we didn't use generative AI in Kamigen";

block append page_content
    hr
    p Five years ago, the creative team at Open Studios invested a significant amount of time and effort into researching how to integrate Stable Diffusion into the Kamigen project. The initial results looked amazing. We were so excited about this new aesthetic, it was decided that was the moment to reboot the entire project.

    p New storyboards were created along with new characters, to repurpose the cool ideas that had been produced in the course of the original series run. Then it was discovered that datasets used to produce models we used were being created in blatant contravention of international copyright and IP law, so we looked into options that followed the law. Many were promising, albeit not as exciting and we'd already sunken a significant amount of effort into establishing the look we wanted beforehand.

    .ui.centered.grid
        .twelve.wide.column
            .ui.embed
                img.ui.image(src='./art/blog/2026/07/Chronological - Rebuild v2.png' target='_blank' alt="A work in progress storyboard produced for the generative AI reboot")
            .ui.basic.segment
                p Pictured Above: A new storyboard made of existing pages and notes for new pages to address issues in pacing, narrative and continuity.

    p As the technology has evolved in the years since, a few trends have emerged around the subject of generative AI that each served to make us question this approach until we ultimately decided to go back to our original workflow. Each problem added a layer of complexity that made it harder to justify the use of AI in our project.

    p The first and foremost problem for us as creatives was what it said about us and our place in the industry. The Kamigen project aims to bring attention to the lost Visayan culture. It would not be in the spirit of that effort to use technology that didn't respect the law, the rights of other peoples intellectual property or copyright ownership. We are still at a stage where we want to build our core audience, particularly in the Philippines. A lot of creative professionals are based there and it is not a good look if we are bypassing potential work that could go to them and trying to tell a story about Filipinos at the same time. Even if we don't realistically have the budget to do so for some time, it's about the perception only and how it will be framed by comments.

    p The second problem was the lack of consistency and control in the delivery. The art style we have with Kamigen looks silly, but that works for the type of world we've built for this project. The trade-off for using AI with more mainstream anime looking visuals was that we lost the humour, the character, the uniqueness and the intent behind the visuals. We tried to use 3D models to make up for the difference, only using AI for backgrounds. At that point the value fell off a cliff, our investigation into workflows using a mix of 3D and AI found it was easier to just go full 3D. The continuous iteration with AI meant we lost countless hours of potential productivity burning electricity and waiting to see if this was the lucky roll of the dice.

    .ui.centered.grid
        .twelve.wide.column
            .ui.embed
                iframe( width="560" height="315" src="https://www.youtube.com/embed/VUzLwHIt_vM?si=5E5hvmHVbW_lOxf2" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen)
            .ui.basic.segment
                p This test animation shows a scene we made using a mix of 3D and generative AI. The song is a midi copy of Bakit Ngayon on digital ukulele.

    p The third problem was growing negative perception and reactivity to AI, particularly among young people. Kamigen is a project built for future generations, hoping to inspire people to look for more knowledge and understanding of their past. Even if the visuals were perfect and within the bounds of the law, negative reactions to using the technology could hurt the projects reputation and affect credibility around its values in the long term.

    p The fourth problem was minor to the outside, but quite important to us - the outsourcing of the process diminished the story telling ownership of the project. When we reduced our participation from producing visuals to writing prompts into a machine, we lost ownership of the intention behind what was being displayed. Minor details like a line to show stress on a face or a tilt of the head to show inquisitiveness. AI struggles to iterate through to that result in a timely and cost efficient manner, even in a self hosted stack like ours.

    .ui.centered.grid
        .twelve.wide.column
            img.ui.image(src='./art/blog/2026/07/Screenshot_20260716_131532.png' target='_blank' alt="A screenshot of a panel from the draft generative AI produced comics")
            .ui.basic.segment
                p Pictured Above: The above scene was envisioned to span two panels. One showing the radio starting while the characters was under the covers, and the next panel he was meant to snap up awake. This proved such a nightmare to try to get generative AI to do precisely, we ended up just giving up on the idea.

    p The fifth problem was that the loss of limits also made us lose our visual identity and character. In trying to imitate popular works by others, we lost the originality, authenticity and quirky humour built into the visual language of the comics. When the style became more polished, we polished away some of the edges that were defining traits of the project.

    .ui.centered.grid
        .twelve.wide.column
            img.ui.image(src='./art/blog/2026/07/generated-image.png' target='_blank' alt="An example image generated by AI that was intended for use as a background in the new comic")
            .ui.basic.segment
                p Pictured Above: The building looks quite nice, in all honesty. But there's something distinctly bland, generic and cold about it. There's no Filipino-ness here at all.

    p So that's the story of why Kamigen has been on a bit of a break. We did a full somersault and landed right back where we started. Ultimately, we realised we'd rather be represented by janky looking photoshopped hermit crabs that live in old washing machines than morally dubious art that looked good from a distance but failed to invoke an emotion. At the end of the day, the entire point of art is to create a feeling. If the creator can't make the tool create that feeling, then the tool is not fit for the job.

    p The technology is quickly evolving and new software has come out that might solve some of the challenges we faced, however for the foreseeable future Kamigen is going to proceed as it always has. On a shoe string budget, full of heart and a willingness to tell a good story despite a very limited amount of resources to do so. In a way, it doesn't get more Filipino than that!

    p Enjoy the five new pages of Kamigen. We hope to have the next set over soon, we promise it's a case of weeks or months instead of years this time.

    p
        | Check out issue 5&nbsp;
        a(href='/comics/issue_5.html') here
        | .
