doctype html
html
  head
    title
    //- base(href='/')
    meta(name='viewport' content='width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0')
    link(rel='stylesheet' href='./main.css')
  body
    .gradient-sky(class="min-w-full h-[400px] lg:h-[575px] absolute -z-10")
    .gradient-water(class="min-w-full h-[100px] lg:h-[175px] absolute -z-10 top-[400px] lg:top-[575px]")
    .gradient-water-edge(class="min-w-full h-[200px] lg:h-[300px] absolute -z-10 top-[500px] lg:top-[750px]")
    div(class="relative z-0")
      #hero_wrapper(x-data="{show_badlit: false}" @mouseover.away="show_badlit = false")
        #hero(@mouseover="show_badlit = true")
          a#logo(href='#')
            h1()
              img(id='english_logo' class="max-w-[250px] lg:max-w-sm mx-auto pt-14 lg:pt-20" src='assets/Kamigen Logo.svg')
              img(id='badlit_logo' class="opacity-0 max-w-[250px] -mt-[120px] lg:-mt-[160px] -mb-[60px] lg:-mb-[69px] lg:max-w-sm mx-auto pt-14 lg:pt-20" src='assets/Kamigen Logo - Badlit.svg')
            div(class="max-w-[290px] lg:max-w-md mx-auto mt-6 border-b  border-black ") 
          div(class="text-center pt-10")
            p(:class="show_badlit ? 'hidden' : ''") A story about Visayans
            p(:class="show_badlit ? '' : 'hidden'") Istorya sa Bisaya
      img(class="max-w-xs md:max-w-md lg:max-w-2xl mx-auto mt-[175px] md:mt-[165px] lg:mt-[290px] mb-20" src='assets/Kamigen Island.svg')
      .container.mx-auto
        #comic-slider
          .keen-slider
            .keen-slider__slide
              img(src='assets/Kamigen Issue 01 Cover-01.png')
              .slide-content
                .slide-content-inner(class="p-4 md:pl-8 md:pr-16 lg:py-16")
                  h2(class="text-lg underline md:py-3") Issue #01
                  h3(class="text-xl font-bold py-3 md:py-6") Welcome to the Island
                  p(class="md:text-lg") The first issue introduces Kamigen Island and explains a bit about the current state of the world.
            .keen-slider__slide
              img(src='assets/Kamigen Issue 02 Cover-01.png')
              .slide-content
                .slide-content-inner(class="p-4 md:pl-8 md:pr-16 lg:py-16")
                  h2(class="text-lg underline md:py-3") Issue #02
                  h3(class="text-xl font-bold py-3 md:py-6") Mysteries in Outer Space
                  p(class="md:text-lg") Ryoko is part of a team tasked with saving the Earth from a second water comet and the human race from extinction!
            .keen-slider__slide
              img(src='assets/Kamigen Issue 03 Cover-01.png')
              .slide-content
                .slide-content-inner(class="p-4 md:pl-8 md:pr-16 lg:py-16")
                  h2(class="text-lg underline md:py-3") Issue #03
                  h3(class="text-xl font-bold py-3 md:py-6") Bulawan
                  p(class="md:text-lg") A hundred million years ago, an advanced society prospered from advancements based on ancient relics from a long dead race.
            .keen-slider__slide
              img(src='assets/Kamigen Issue 04 Cover-01.png')
              .slide-content
                .slide-content-inner(class="p-4 md:pl-8 md:pr-16 lg:py-16")
                  h2(class="text-lg underline md:py-3") Issue #04
                  h3(class="text-xl font-bold py-3 md:py-6") Islands
                  p(class="md:text-lg") Anak is on a quest to find out why he's the last of his kind - oh and he might as well save the human race along the way!
            .keen-slider__slide
              img(src='assets/Kamigen Issue 05 Cover-01.png')
              .slide-content
                .slide-content-inner(class="p-4 md:pl-8 md:pr-16 lg:py-16")
                  h2(class="text-lg underline md:py-3") Issue #05
                  h3(class="text-xl font-bold py-3 md:py-6") Name TBA
                  p(class="md:text-lg") This is the end of phase 1 and the first comic to be entirely in color!
      header.hidden.p-4(class='dark:bg-gray-200 dark:text-gray-800 mt-10 md:block')
        .container.flex.justify-between.h-16.mx-auto(class='md:justify-center md:space-x-8')
          ul.items-stretch.space-x-3(class='md:flex')
            li.flex
              a.flex.items-center.px-4.mx-4.-mb-1.border-b-2(rel='noopener noreferrer' href='#' class='dark:border-transparent') Comics
            li.flex
              a.flex.items-center.px-4.mx-4.-mb-1.border-b-2(rel='noopener noreferrer' href='#' class='dark:border-transparent') Characters
            li.flex
              a.flex.items-center.px-4.mx-4.-mb-1.border-b-2(rel='noopener noreferrer' href='#' class='dark:border-transparent dark:text-blue-400 dark:border-blue-400') Locations
            li.flex
              a.flex.items-center.px-4.mx-4.-mb-1.border-b-2(rel='noopener noreferrer' href='#' class='dark:border-transparent') Behind the Scenes
            li.flex
              a.flex.items-center.px-4.mx-4.-mb-1.border-b-2(rel='noopener noreferrer' href='#' class='dark:border-transparent') Links
      .container.mx-auto.max-w-2xl
        div.my-24
          h2.my-4.text-center.text-2xl.font-bold Characters
          ul.items-center.my-2(class='grid grid-flow-col auto-cols-max')
            li.p-2.m-2
              a(rel='noopener noreferrer' href='#' class='dark:border-transparent' title='Anak')
                img.max-w-none.object-cover(width=50 height=50 src="assets/characters/Anak.svg")
            li
              a(rel='noopener noreferrer' href='#' class='dark:border-transparent' title='Ang Mata')
                img.max-w-none.object-cover(width=60 height=60 src="assets/characters/Ang Mata.svg")
            li
              a(rel='noopener noreferrer' href='#' class='dark:border-transparent' title='Bulawan Dakong Umang')
                img.max-w-none.object-cover(width=60 height=60 src="assets/characters/Bulawan Dakong Umang.svg")
            li
              a(rel='noopener noreferrer' href='#' class='dark:border-transparent' title='Jim')
                img.max-w-none.object-cover(width=60 height=60 src="assets/characters/Jim.svg")
            li
              a(rel='noopener noreferrer' href='#' class='dark:border-transparent' title='President Serena Barbate')
                img.max-w-none.object-cover(width=60 height=60 src="assets/characters/President Serena Barbate.svg")
            li
              a(rel='noopener noreferrer' href='#' class='dark:border-transparent' title='Ryoko')
                img.max-w-none.object-cover(width=60 height=60 src="assets/characters/Ryoko.svg")
            li
              a(rel='noopener noreferrer' href='#' class='dark:border-transparent' title='The Founder')
                img.max-w-none.object-cover(width=60 height=60 src="assets/characters/The Founder.svg")
            li
              a(rel='noopener noreferrer' href='#' class='dark:border-transparent' title='The Visayans')
                img.max-w-none.object-cover(width=60 height=60 src="assets/characters/The Visayans.svg")
            li
              a(rel='noopener noreferrer' href='#' class='dark:border-transparent' title='Tom')
                img.max-w-none.object-cover(width=60 height=60 src="assets/characters/Tom.svg")
            li
              a(rel='noopener noreferrer' href='#' class='dark:border-transparent' title='Umang')
                img.max-w-none.object-cover(width=60 height=60 src="assets/characters/Umang.svg")
    script(src="./alpine.js")
    script(src='./main.js')
