---
permalink: "comics.html"
dynamicPermalink: false
---
doctype html
html
  head
    title Kamigen Comics
    //- base(href='/')
    meta(name='viewport' content='width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0')
    link(rel='stylesheet' href='./main.css')
  body.bg-black
    .container
    script(src="./alpine.js")
    script(src='./main.js')
