.container
    #comic-slider
        .keen-slider
          .keen-slider__slide
            img(src='assets/Kamigen Issue 01 Cover-01.png')
            .slide-content
              .slide-content-inner(class="p-4 lg:pl-4 xl:pl-8lg:pr-4 xl:pr-8xl:py-16")
                h2(class="text-lg underline xl:py-3") Issue #01
                h3(class="text-xl font-bold xl:py-3") Welcome to the Island
                p(class="md:text-lg") The first issue introduces Kamigen Island and explains a bit about the current state of the world.
          .keen-slider__slide
            img(src='assets/Kamigen Issue 02 Cover-01.png')
            .slide-content
              .slide-content-inner(class="p-4 lg:pl-4 xl:pl-8lg:pr-4 xl:pr-8xl:py-16")
                h2(class="text-lg underline xl:py-3") Issue #02
                h3(class="text-xl font-bold xl:py-3") Mysteries in Outer Space
                p(class="md:text-lg") Ryoko is part of a team tasked with saving the Earth from a second water comet and the human race from extinction!
          .keen-slider__slide
            img(src='assets/Kamigen Issue 03 Cover-01.png')
            .slide-content
              .slide-content-inner(class="p-4 lg:pl-4 xl:pl-8lg:pr-4 xl:pr-8xl:py-16")
                h2(class="text-lg underline xl:py-3") Issue #03
                h3(class="text-xl font-bold xl:py-3") Bulawan
                p(class="md:text-lg") A hundred million years ago, an advanced society prospered from advancements based on ancient relics from a long dead race.
          .keen-slider__slide
            img(src='assets/Kamigen Issue 04 Cover-01.png')
            .slide-content
              .slide-content-inner(class="p-4 lg:pl-4 xl:pl-8lg:pr-4 xl:pr-8xl:py-16")
                h2(class="text-lg underline xl:py-3") Issue #04
                h3(class="text-xl font-bold xl:py-3") Islands
                p(class="md:text-lg") Anak is on a quest to find out why he's the last of his kind - oh and he might as well save the human race along the way!
          .keen-slider__slide
            img(src='assets/Kamigen Issue 05 Cover-01.png')
            .slide-content
              .slide-content-inner(class="p-4 lg:pl-4 xl:pl-8lg:pr-4 xl:pr-8xl:py-16")
                h2(class="text-lg underline xl:py-3") Issue #05
                h3(class="text-xl font-bold xl:py-3") Name TBA
                p(class="md:text-lg") This is the end of phase 1 and the first comic to be entirely in color!