.container.mx-auto.max-w-2xl.mt-32.mb-12
    h2.my-4.text-center.text-2xl.font-bold Characters
    #character-thumbnails.items-center.my-2
      .keen-slider.thumbnail
        .keen-slider__slide
          img.max-w-none.object-cover(width=100 height=100 src="assets/characters/Anak.svg" alt='Anak' style="margin-left: -0.25rem")
        .keen-slider__slide
          img.max-w-none.object-cover(width=100 height=100 src="assets/characters/Ang Mata.svg" alt='Ang Mata' style="margin-left: -0.25rem")
        .keen-slider__slide
          img.max-w-none.object-cover(width=100 height=100 src="assets/characters/Bulawan Dakong Umang.svg" alt='Bulawan Dakong Umang' style="margin-left: -0.25rem")
        .keen-slider__slide
          img.max-w-none.object-cover(width=100 height=100 src="assets/characters/Jim.svg" alt='Jim' style="margin-left: -0.25rem")
        .keen-slider__slide
          img.max-w-none.object-cover(width=100 height=100 src="assets/characters/President Serena Barbate.svg" alt='President Serena Barbate' style="margin-left: -0.25rem")
        .keen-slider__slide
          img.max-w-none.object-cover(width=100 height=100 src="assets/characters/Ryoko.svg" alt='Ryoko' style="margin-left: -0.25rem")
        .keen-slider__slide
          img.max-w-none.object-cover(width=100 height=100 src="assets/characters/The Founder.svg" alt='The Founder' style="margin-left: -0.25rem")
        .keen-slider__slide
          img.max-w-none.object-cover(width=100 height=100 src="assets/characters/The Visayans.svg" alt='The Visayans' style="margin-left: -0.25rem")
        .keen-slider__slide
          img.max-w-none.object-cover(width=100 height=100 src="assets/characters/Tom.svg" alt='Tom' style="margin-left: -0.25rem")
        .keen-slider__slide
          img.max-w-none.object-cover(width=100 height=100 src="assets/characters/Umang.svg" alt='Umang' style="margin-left: -0.25rem")
    #character-slider.items-center.py-12.overflow-hidden
      .keen-slider
        .keen-slider__slide
          div
            h3.my-4.text-xl.font-bold Anak
            img(class="md:float-right md:pb-8" width=384 height=216 src="assets/characters/Anak.svg")
            p.
              Species: Balubid
            br
            p.
              Born: 1535 AD on Camiguin Island in the Philippines
            br
            p.
              Bio:
              The last Balubid, Anak's egg was found by Nick in the 16th century on under the Santo Nino cold spring in Camiguin Island in the Philippines.
            p.
              It's implied there was previously an ice glacier under the Santo Nino cold spring.
        .keen-slider__slide
          div
            h3.my-4.text-xl.font-bold Ang Mata
            img(class="md:float-right md:pb-8" width=384 height=216 src="assets/characters/Ang Mata.svg")
            p.
              Species: Interdimensional Consciousness
            br
            p.
              Born: Unknown
            br
            p.
              Bio:
              Exists alone in its own universe, beyond our reality, and enters through breaches in the skin of reality i.e. black holes
            p.
              Religions throughout creation have glimpsed aspects of Ang Mata and worshipped it.
            p.
              Able to control any form of artificial intelligence, Ang Mata created the Umang swarm in order to destroy the Balubid and ancient humans.
        .keen-slider__slide
          div
            h3.my-4.text-xl.font-bold Bulawan Dakong Umang
            img(class="md:float-right md:pb-8" width=384 height=216 src="assets/characters/Bulawan Dakong Umang.svg")
            p.
              Species: Umang
            br
            p.
              Born: Approx 100 million years ago.
            br
            p.
              Bio:
              After the humans abandon the city, the Umang combine to form this single entity.
            p.
              This beast has mastered all the wonders of the city except the Ibalhin device, which remains sealed deep inside its structure.
        .keen-slider__slide
          div
            h3.my-4.text-xl.font-bold Jim
            img(class="md:float-right md:pb-8" width=384 height=216 src="assets/characters/Jim.svg")
            p.
              Species: Human
            br
            p.
              Born: 1535 AD on Camiguin Island in the Philippines
            br
            p.
              Bio:
              The last Balubid, Anak's egg was found by Nick in the 16th century on under the Santo Nino cold spring in Camiguin Island in the Philippines.
            p.
              It's implied there was previously an ice glacier under the Santo Nino cold spring.
        .keen-slider__slide
          div
            h3.my-4.text-xl.font-bold President Serena Barbate
            img(class="md:float-right md:pb-8" width=384 height=216 src="assets/characters/President Serena Barbate.svg")
            p.
              Species: Balubid
            br
            p.
              Born: 1535 AD on Camiguin Island in the Philippines
            br
            p.
              Bio:
              The last Balubid, Anak's egg was found by Nick in the 16th century on under the Santo Nino cold spring in Camiguin Island in the Philippines.
            p.
              It's implied there was previously an ice glacier under the Santo Nino cold spring.
        .keen-slider__slide
          div
            h3.my-4.text-xl.font-bold Ryoko
            img(class="md:float-right md:pb-8" width=384 height=216 src="assets/characters/Ryoko.svg")
            p.
              Species: Balubid
            br
            p.
              Born: 1535 AD on Camiguin Island in the Philippines
            br
            p.
              Bio:
              The last Balubid, Anak's egg was found by Nick in the 16th century on under the Santo Nino cold spring in Camiguin Island in the Philippines.
            p.
              It's implied there was previously an ice glacier under the Santo Nino cold spring.
        .keen-slider__slide
          div
            h3.my-4.text-xl.font-bold The Founder
            img(class="md:float-right md:pb-8" width=384 height=216 src="assets/characters/The Founder.svg")
            p.
              Species: Balubid
            br
            p.
              Born: 1535 AD on Camiguin Island in the Philippines
            br
            p.
              Bio:
              The last Balubid, Anak's egg was found by Nick in the 16th century on under the Santo Nino cold spring in Camiguin Island in the Philippines.
            p.
              It's implied there was previously an ice glacier under the Santo Nino cold spring.
        .keen-slider__slide
          div
            h3.my-4.text-xl.font-bold The Visayans
            img(class="md:float-right md:pb-8" width=384 height=216 src="assets/characters/The Visayans.svg")
            p.
              Species: Balubid
            br
            p.
              Born: 1535 AD on Camiguin Island in the Philippines
            br
            p.
              Bio:
              The last Balubid, Anak's egg was found by Nick in the 16th century on under the Santo Nino cold spring in Camiguin Island in the Philippines.
            p.
              It's implied there was previously an ice glacier under the Santo Nino cold spring.
        .keen-slider__slide
          div
            h3.my-4.text-xl.font-bold Tom
            img(class="md:float-right md:pb-8" width=384 height=216 src="assets/characters/Tom.svg")
            p.
              Species: Balubid
            br
            p.
              Born: 1535 AD on Camiguin Island in the Philippines
            br
            p.
              Bio:
              The last Balubid, Anak's egg was found by Nick in the 16th century on under the Santo Nino cold spring in Camiguin Island in the Philippines.
            p.
              It's implied there was previously an ice glacier under the Santo Nino cold spring.
        .keen-slider__slide
          div
            h3.my-4.text-xl.font-bold Umang
            img(class="md:float-right md:pb-8" width=384 height=216 src="assets/characters/Umang.svg")
            p.
              Species: Balubid
            br
            p.
              Born: 1535 AD on Camiguin Island in the Philippines
            br
            p.
              Bio:
              The last Balubid, Anak's egg was found by Nick in the 16th century on under the Santo Nino cold spring in Camiguin Island in the Philippines.
            p.
              It's implied there was previously an ice glacier under the Santo Nino cold spring.
