extends /src/templates/website.pug

block append title
  | Home | Kamigen | A Tropical Cyberpunk World

block append scripts
  script(src='./dist/jumbotron.js')

block append content
  .row
    .column#jumbotron
      img.ui.image.fluid(src='./art/resources/screenshots/Kamigen Island shot.PNG')
  .row.ui.page.grid
    .column.ten.wide
      h3.ui.dividing.header.inverted News
      .ui.grid.three.column.wide.very.relaxed.stackable
        .row.main
          .column.sixteen.wide
            .ui.grid.stackable
              .ui.two.column.grid.stackable
                .row
                  .column
                    a(href='/comics/issue_4.html' title='Go to Issue 04')
                      h3 What happened to Team Jim
                    small
                      em 30 October 2020
                    p Anak, Jim and Nick crashed into the ocean and seemed to perish. Sumpoy certainly thinks they did.
                    p Find out what happened in the latest pages of 
                      a(href='/comics/issue_4.html') Issue 04.
                  .column
                    a(href='/comics/issue_4.html' title='Go to Issue 04')
                      h3 The story continues in pages 104-107
                    small
                      em 15 October 2020
                    p After a near 3 month wait, the next pages of Kamigen are out!
                    p Makaptan and Sumpoy are ready to take on Jim, Nick and Anak when they return from Shangri-lah in 
                      a(href='/comics/issue_4.html') Issue 04.
                .row
                  .column
                    a(href='/comics/issue_4.html' title='Go to Issue 04')
                      h3 Over 100 pages of Kamigen are out!
                    small
                      em 21 July 2020
                    p This is a pretty special extra large release at 5 pages which has pushed the series to 103 pages.
                    p What mysteries lie waiting in Shangri Lah waiting to be discovered? Find out in 
                      a(href='/comics/issue_4.html') Issue 04.
                  .column
                    a(href='/comics/issue_4.html' title='Go to Issue 04')
                      h3 Issue 04 continues in pages 95-98
                    small
                      em 4 July 2020
                    p Jim and Nick are in serious trouble - Makaptan is sending their entire force of genetic monsters at them. Find out what happens next over in 
                      a(href='/comics/issue_4.html') Issue 04.
                .row
                  .column
                    a(href='/comics/issue_4.html' title='Go to Issue 04')
                      h3 The first pages of Issue 04 are out!
                    small
                      em 20 June 2020
                    p The story is finally starting to come together, our characters have a number of different agendas and upcoming storylines. Check out 
                      a(href='/comics/issue_4.html') Issue 04 now!
                  .column
                    a(href='/comics/issue_3.html' title='Go to Issue 03')
                      h3 Issue 03 is complete!
                    small
                      em 2 June 2020
                    p In the epilogue of issue 03, the final fate of the Ancient Visayans and all the survivors of Bulawan is finally revealed. Our story is ready to continue in the present, so come on and finish off 
                      a(href='/comics/issue_3.html') Issue 03.
    .column.six.wide
      h3.ui.dividing.header.inverted Latest Pages
      a(href='/comics/page_99.html' style='min-height: 250px; display: block; position: relative;')
        img.ui.image.fluid(src='./art/comics/SD/Kamigen%20Page%20100-01.png' style='clip: rect(20px, 650px, 250px, 20px); opacity: 0.5; position: absolute; z-index: 2;')
      h3.ui.dividing.header.inverted About Kamigen
      p Kamigen is a tropical cyberpunk world with aircraft combat. 
        a(href='/game.html') Drop into the pilot seat and join the struggle
        |  or 
        a(href='./comics.html') read the story in the comics
        | .
      p This media franchise is independently developed and needs your feedback and support to progress.
      p This project needs 
        a(href='https://openstudios.xyz/donate.html') your support
        | !
