extends /src/templates/wiki.pug

block prepend title
  - var wiki_home = true;
  - var page_title_string = "Kamigen Wiki";

block prepend content
  - var wiki_home = true;
  - var page_title_string = "Kamigen Wiki";

block append page_content
  h1 Welcome to the Kamigen Wiki!
  p This knowledgebase contains background information about the Kamigen World and production information relating to the comics and game.
  h3.ui.dividing.header.inverted Concept art
  .ui.small.images
    a(href='./art/concept/Camiguin Concept-01.png' target='_blank')
      img.ui.image(src='./art/concept/Camiguin Concept-01.png' target='_blank')
    a(href='./art/concept/Camiguin-Island-Landscape.jpg' target='_blank')
      img.ui.image(src='./art/concept/Camiguin-Island-Landscape.jpg' target='_blank')
    a(href='./art/concept/Cosmic Mythology.png' target='_blank')
      img.ui.image(src='./art/concept/Cosmic Mythology.png' target='_blank')
    a(href='./art/concept/Hangar.png' target='_blank')
      img.ui.image(src='./art/concept/Hangar.png' target='_blank')
    a(href='./art/concept/island sprite.png' target='_blank')
      img.ui.image(src='./art/concept/island sprite.png' target='_blank')
    a(href='./art/concept/Scenes.png' target='_blank')
      img.ui.image(src='./art/concept/Scenes.png' target='_blank')
    a(href='./art/concept/Ship Concept Art-01.png' target='_blank')
      img.ui.image(src='./art/concept/Ship Concept Art-01.png' target='_blank')
    a(href='./art/concept/Ship Concept Art-02.png' target='_blank')
      img.ui.image(src='./art/concept/Ship Concept Art-02.png' target='_blank')
    a(href='./art/concept/Site Design WIP.png' target='_blank')
      img.ui.image(src='./art/concept/Site Design WIP.png' target='_blank')
    a(href='./art/concept/UI mockup-01.png' target='_blank')
      img.ui.image(src='./art/concept/UI mockup-01.png' target='_blank')
    a(href='./art/concept/UI mockup 2-01.png' target='_blank')
      img.ui.image(src='./art/concept/UI mockup 2-01.png' target='_blank')
    a(href='./art/concept/UI mockup 2-02.png' target='_blank')
      img.ui.image(src='./art/concept/UI mockup 2-02.png' target='_blank')
    a(href='./art/concept/UI mockup 2-03.png' target='_blank')
      img.ui.image(src='./art/concept/UI mockup 2-03.png' target='_blank')
  .column.eight.wide
    h3.ui.dividing.header.inverted Screenshots
    .ui.small.images
      a(href='./art/screenshots/Kamigen Island shot.PNG' target='_blank')
        img.ui.image(src='./art/screenshots/Kamigen Island shot.PNG' target='_blank')
      a(href='./art/screenshots/Screenshot 2018-09-21.PNG' target='_blank')
        img.ui.image(src='./art/screenshots/Screenshot 2018-09-21.PNG' target='_blank')
      a(href='./art/screenshots/Screenshot 2018-09-22.PNG' target='_blank')
        img.ui.image(src='./art/screenshots/Screenshot 2018-09-22.PNG' target='_blank')
      a(href='./art/screenshots/Screenshot 2019-01-26.PNG' target='_blank')
        img.ui.image(src='./art/screenshots/Screenshot 2019-01-26.PNG' target='_blank')
      a(href='./art/screenshots/Screenshot 2019-01-26-1.PNG' target='_blank')
        img.ui.image(src='./art/screenshots/Screenshot 2019-01-26-1.PNG' target='_blank')
      a(href='./art/screenshots/Screenshot 2019-09-2.PNG' target='_blank')
        img.ui.image(src='./art/screenshots/Screenshot 2019-09-2.PNG' target='_blank')
      a(href='./art/screenshots/Wallpaper.PNG' target='_blank')
        img.ui.image(src='./art/screenshots/Wallpaper.PNG' target='_blank')
