@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


body {
    margin: 0;
}

#page1 .plate {
    position: absolute;
    width: 100%;
    height: 100%;
}

#page1 .building {
    margin-top: 119%;
    left: 0;
    right: 0;
    z-index: 2;
}

#page1 .water {
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    filter: url("#watereffect");
}

#page1 .water img {
    margin-top: 159.4%;
}

#page1 .background {
    top: 0;
    left: 0;
    right: 0;
    z-index: 0;
}

@screen md {}

@screen lg {}

@screen xl {}

@keyframes blurout {
    0% {
        filter: blur(0px);
        opacity: 1.0;
    }

    100% {
        filter: blur(20px);
        opacity: 0.0;
        animation-play-state: paused;
    }

}

@keyframes blurin {
    0% {
        filter: blur(20px);
        opacity: 0.0;
    }

    100% {
        filter: blur(0px);
        opacity: 1.0;
        animation-play-state: paused;
    }

}

.logo:hover .english_logo {
    animation: blurout 0.35s ease 1 forwards;
}

.logo:hover .badlit_logo {
    animation: blurin 0.15s ease 1 forwards;
}

.logo:not(:hover) .english_logo {
    animation: blurin 0.15s ease 1 forwards;
}

.logo:not(:hover) .badlit_logo {
    animation: blurout 0.35s ease 1 forwards;
}