extends /src/templates/wiki.pug

block prepend title
  - var page_title_string = "Reclaiming the lost Visayan culture | Blog";

block prepend content
  - var page_title_string = "Reclaiming the lost Visayan culture";

block append page_content
  p My family descend from the island of Camiguin, although were relocated to Salay River 1 on Mindanao in the late 1960s due to a volcanic eruption. We have a number of relatives on Camiguin island as well as many relatives from Cagayan de Oro to Cebu to General Santos City, Davao and beyond. When I was a kid I was fortunate to attend school in Cebu City for a couple of years. Colonialism isn't something you really understand until you're older. Even after being in a school musical about Magellan's death and his slayer the hero Lapu-Lapu, I was ignorant to the genocide and erasure of my cultural heritage.
  p In 2021, it's estimated that over 21.2 million people live in the Visayas region of the Philippines and yet not one even knows the meaning of that name. The etymology of the term "Visaya" as used in the region is unknown and while there are various claims my research so far turned up nothing conclusive except that Spanish colonists are solely responsible for committing the cultural genocide of the indigenous Visayan people. Not to mention the countless neighbouring sovereign nations that Spanish colonists subjugated as a single colony they would name after a prince. 
  p Story tellers frequently lean on established mythology in order to tell their own stories. The concept of an ancient civilisation that is paradoxically advanced with technology and knowledge is an old trope, but one I've personally always enjoyed especially with lost cities like Atlantis or El Dorado the city of gold. If a movie or TV show features these things, there's a chance I've seen it and am a fan but if I were to pick a favourite it's probably Sanctuary, a niche science fiction show produced by ex Stargate alumni and rocked my world by giving us a new take on "hollow earth". Kamigen is named after Camiguin island in the Philippines, using more traditional spelling that helps market the project too.
  p In the course of my historical research for the Kamigen project I began to learn about Badlit (Baybayin script) and that there was this wealth of indigenous Visayan culture that is only in recent times undergoing a revival amongst Filipino academia and youth. It made perfect sense then to make use of Visayan mythology within Kamigen. Inspired by Stargate, I wondered what would happen if these Visayan gods were just ordinary people with extraordinary knowledge and technology so I came up with the idea of Bulawan City, the fabled city of gold seen through the lens of Visayan and Meso-American culture.
  p In Kamigen the ancestors of Visayans and Meso American cultures live in a wonderous city of gold nestled on the shores of Ancient Antarctica and protected from a deadly sun by a force field.

  p.
    After producing Kamigen for 4 years, I hope to continue to find novel new ways to tell a science fiction story and weave references from my lost Visayan culture. Hopefully new information will continue to come to light as archaeologists discover artifacts and continue their research into what existed o the islands of the Philippines before the Spanish came to the region.

  p The contemporary issues of redefining yourself without a past, surviving a life filled with traumatic events and the aforementioned cultural expressions of Visayan culture are at the heart of Kamigen's comics. The project has slowly grown an audience and I hope to reward those visits with more and more content, so I hope this blog post and insight was enjoyable.
  
  .ui.four.column.grid
    .row
      .column
        h4 Camiguin Lanzones Festival
        p A yearly celebration in thanksgiving for the harvest of the island’s most famous “Lanzones” fruit.
        a(href='./art/blog/Camiguin Lanzones Festival.jpg' target='_blank')
          img.ui.image(src='./art/blog/Camiguin Lanzones Festival.jpg' target='_blank')
      .column
        h4 Colourful Camiguin Painting 
        p An incredibly vibrant oil painting of the island 
        a(href='./art/blog/Camiguin Painting.jpg' target='_blank')
          img.ui.image(src='./art/blog/Camiguin Painting.jpg' target='_blank')
      .column
        h4 Black and white photo of Camiguin island
        p The full contrasts of the many elevations of the island are very clear in this photo.
        a(href='./art/blog/Camiguin Photo.jpg' target='_blank')
          img.ui.image(src='./art/blog/Camiguin Photo.jpg' target='_blank')
      .column
        h4 A traditional house made of local materials
        p Common across the land, this type of house is still used today by many of the nation's poorest.
        a(href='./art/blog/Traditional Home in the Philippines.jpg' target='_blank')
          img.ui.image(src='./art/blog/Traditional Home in the Philippines.jpg' target='_blank')
    .row
      h4 Resources for Visayan culture:
    .row
      h5 Akopito for a Badlit font, cool tattoo art and more
      ul 
        li 
          a(href='http://akopito.weebly.com/') Main website
        li
          a(href='https://www.deviantart.com/akopito/art/Bisaya-Modern-Badlit-Font-Tupong-325656389') Badlit font on Deviantart
    .row
      h5 Ancient Visayan deities and mythology
      ul 
        li 
          a(href='https://www.aswangproject.com/visayan-deities-in-philippine-mythology/') Resource 1
        li
          a(href='https://filipiknow.net/the-ancient-visayan-deities-of-philippine-mythology/') Resource 2
      