extends /src/templates/website.pug

block append title
  | Issue 1 Transcript | Comics | Kamigen | A Tropical Cyberpunk World

block append scripts
  script(src='./dist/jumbotron.js')

block append content
  .row
    .column
      #page_script.ui.one.column.center.aligned.page.grid
        include /art/comics/scripts/cover.txt
        br
        br
        br
        include /art/comics/scripts/issue_1_cover.txt
        br
        br
        br
        include /art/comics/scripts/page_1.txt
        br
        br
        br
        include /art/comics/scripts/page_2.txt
        br
        br
        br
        include /art/comics/scripts/page_3.txt
        br
        br
        br
        include /art/comics/scripts/page_4.txt
        br
        br
        br
        include /art/comics/scripts/page_5.txt
        br
        br
        br
        include /art/comics/scripts/page_6.txt
        br
        br
        br
        include /art/comics/scripts/page_7.txt
        br
        br
        br
        include /art/comics/scripts/page_8.txt
        br
        br
        br
        include /art/comics/scripts/page_9.txt
        br
        br
        br
        include /art/comics/scripts/page_10.txt
        br
        br
        br
        include /art/comics/scripts/page_11.txt
        br
        br
        br
        include /art/comics/scripts/page_12.txt
        br
        br
        br
        include /art/comics/scripts/page_13.txt
        br
        br
        br
        include /art/comics/scripts/page_14.txt
        br
        br
        br
        include /art/comics/scripts/page_15.txt
        br
        br
        br
        include /art/comics/scripts/page_16.txt
        br
        br
        br
        include /art/comics/scripts/page_17.txt
        br
        br
        br
        include /art/comics/scripts/page_18.txt
        br
        br
        br
        include /art/comics/scripts/page_19.txt
        br
        br
        br
        include /art/comics/scripts/page_20.txt
        br
        br
        br
        include /art/comics/scripts/page_21.txt
        br
        br
        br
        include /art/comics/scripts/page_22.txt
        br
        br
        br
        include /art/comics/scripts/page_23.txt
        br
        br
        br
        include /art/comics/scripts/page_24.txt
        br
        br
        br
        include /art/comics/scripts/page_25.txt
        br
        br
        br
        include /art/comics/scripts/page_26.txt
        br
        br
        br
        include /art/comics/scripts/page_27.txt
        br
        br
        br
        include /art/comics/scripts/page_28.txt
        br
        br
        br
        include /art/comics/scripts/page_29.txt
        br
        br
        br
        include /art/comics/scripts/page_30.txt
        br
        br
        br