extends /src/templates/comic_reader.pug

block prepend title
  - var page_title_string = "Issue 01 Cover";

block prepend content
  - var image_url = '../art/comics/HD/Kamigen Issue 01 Cover-01.png';
  - var next_url = '/comics/page_1.html';
  - var previous_url = '/comics/cover.html';
  - var issue = 'Issue 01';
  - var issue_url = '/comics/issue_1.html';

block append page_script
  include /art/comics/scripts/issue_1_cover.txt
