extends /src/templates/website.pug

block append title
  | Issue 03 | Comics | Kamigen | A Tropical Cyberpunk RPG

block append content
  .row#comics
    .column
      .ui.one.column.stackable.center.aligned.page.grid
        .column
          .ui.divider.header
          h2
            a(href="/comics.html") Comics
            |  \ 
            | Issue 03
          .ui.divider.header
        .column.four.wide
          a(href='/comics/issue_3_cover.html')
            img.ui.image.fluid(src='./art/comics/SD/Kamigen Issue 03 Cover-01.png')
            h3 Cover
        .column.four.wide
          a(href='/comics/page_61.html')
            img.ui.image.fluid(src='./art/comics/SD/Kamigen%20Page%2061-01.png')
            h3 Page 61
        .column.four.wide
          a(href='/comics/page_62.html')
            img.ui.image.fluid(src='./art/comics/SD/Kamigen%20Page%2062-01.png')
            h3 Page 62
        .column.four.wide
          a(href='/comics/page_63.html')
            img.ui.image.fluid(src='./art/comics/SD/Kamigen%20Page%2063-01.png')
            h3 Page 63
        .column.four.wide
          a(href='/comics/page_64.html')
            img.ui.image.fluid(src='./art/comics/SD/Kamigen%20Page%2064-01.png')
            h3 Page 64
        .column.four.wide
          a(href='/comics/page_65.html')
            img.ui.image.fluid(src='./art/comics/SD/Kamigen%20Page%2065-01.png')
            h3 Page 65
        .column.four.wide
          a(href='/comics/page_66.html')
            img.ui.image.fluid(src='./art/comics/SD/Kamigen%20Page%2066-01.png')
            h3 Page 66
        .column.four.wide
          a(href='/comics/page_67.html')
            img.ui.image.fluid(src='./art/comics/SD/Kamigen%20Page%2067-01.png')
            h3 Page 67
        .column.four.wide
          a(href='/comics/page_68.html')
            img.ui.image.fluid(src='./art/comics/SD/Kamigen%20Page%2068-01.png')
            h3 Page 68
        .column.four.wide
          a(href='/comics/page_69.html')
            img.ui.image.fluid(src='./art/comics/SD/Kamigen%20Page%2069-01.png')
            h3 Page 69
        .column.four.wide
          a(href='/comics/page_70.html')
            img.ui.image.fluid(src='./art/comics/SD/Kamigen%20Page%2070-01.png')
            h3 Page 70
        .column.four.wide
          a(href='/comics/page_71.html')
            img.ui.image.fluid(src='./art/comics/SD/Kamigen%20Page%2071-01.png')
            h3 Page 71
        .column.four.wide
          a(href='/comics/page_72.html')
            img.ui.image.fluid(src='./art/comics/SD/Kamigen%20Page%2072-01.png')
            h3 Page 72
        .column.four.wide
          a(href='/comics/page_73.html')
            img.ui.image.fluid(src='./art/comics/SD/Kamigen%20Page%2073-01.png')
            h3 Page 73
        .column.four.wide
          a(href='/comics/page_74.html')
            img.ui.image.fluid(src='./art/comics/SD/Kamigen%20Page%2074-01.png')
            h3 Page 74
        .column.four.wide
          a(href='/comics/page_75.html')
            img.ui.image.fluid(src='./art/comics/SD/Kamigen%20Page%2075-01.png')
            h3 Page 75
        .column.four.wide
          a(href='/comics/page_76.html')
            img.ui.image.fluid(src='./art/comics/SD/Kamigen%20Page%2076-01.png')
            h3 Page 76
        .column.four.wide
          a(href='/comics/page_77.html')
            img.ui.image.fluid(src='./art/comics/SD/Kamigen%20Page%2077-01.png')
            h3 Page 77
        .column.four.wide
          a(href='/comics/page_78.html')
            img.ui.image.fluid(src='./art/comics/SD/Kamigen%20Page%2078-01.png')
            h3 Page 78
        .column.four.wide
          a(href='/comics/page_79.html')
            img.ui.image.fluid(src='./art/comics/SD/Kamigen%20Page%2079-01.png')
            h3 Page 79
        .column.four.wide
          a(href='/comics/page_80.html')
            img.ui.image.fluid(src='./art/comics/SD/Kamigen%20Page%2080-01.png')
            h3 Page 80
        .column.four.wide
          a(href='/comics/page_81.html')
            img.ui.image.fluid(src='./art/comics/SD/Kamigen%20Page%2081-01.png')
            h3 Page 81
        .column.four.wide
          a(href='/comics/page_82.html')
            img.ui.image.fluid(src='./art/comics/SD/Kamigen%20Page%2082-01.png')
            h3 Page 82
        .column.four.wide
          a(href='/comics/page_83.html')
            img.ui.image.fluid(src='./art/comics/SD/Kamigen%20Page%2083-01.png')
            h3 Page 83
        .column.four.wide
          a(href='/comics/page_84.html')
            img.ui.image.fluid(src='./art/comics/SD/Kamigen%20Page%2084-01.png')
            h3 Page 84
        .column.four.wide
          a(href='/comics/page_85.html')
            img.ui.image.fluid(src='./art/comics/SD/Kamigen%20Page%2085-01.png')
            h3 Page 85
        .column.four.wide
          a(href='/comics/page_86.html')
            img.ui.image.fluid(src='./art/comics/SD/Kamigen%20Page%2086-01.png')
            h3 Page 86
        .column.four.wide
          a(href='/comics/page_87.html')
            img.ui.image.fluid(src='./art/comics/SD/Kamigen%20Page%2087-01.png')
            h3 Page 87
        .column.four.wide
          a(href='/comics/page_88.html')
            img.ui.image.fluid(src='./art/comics/SD/Kamigen%20Page%2088-01.png')
            h3 Page 88
        .column.four.wide
          a(href='/comics/page_89.html')
            img.ui.image.fluid(src='./art/comics/SD/Kamigen%20Page%2089-01.png')
            h3 Page 89
        .column.four.wide
          a(href='/comics/page_90.html')
            img.ui.image.fluid(src='./art/comics/SD/Kamigen%20Page%2090-01.png')
            h3 Page 90
        .column.four.wide
          a(href='/comics/issue_4_cover.html')
            img.ui.image.fluid(src='./art/comics/SD/Kamigen Issue 04 Cover-01.png')
            h3 Issue 04
            p Coming soon!
        