extends /src/templates/website.pug

block append title
  | Issue 04 | Comics | Kamigen | A Tropical Cyberpunk RPG

block append content
  .row#comics
    .column
      .ui.one.column.stackable.center.aligned.page.grid
        .column
          .ui.divider.header
          h2
            a(href="/comics.html") Comics
            |  \ 
            | Issue 04
          .ui.divider.header
        .column.four.wide
          a(href='/comics/issue_4_cover.html')
            img.ui.image.fluid(src='./art/comics/SD/Kamigen Issue 04 Cover-01.png')
            h3 Cover
        .column.four.wide
          a(href='/comics/page_91.html')
            img.ui.image.fluid(src='./art/comics/SD/Kamigen%20Page%2091-01.png')
            h3 Page 91
        .column.four.wide
          a(href='/comics/page_92.html')
            img.ui.image.fluid(src='./art/comics/SD/Kamigen%20Page%2092-01.png')
            h3 Page 92
        .column.four.wide
          a(href='/comics/page_93.html')
            img.ui.image.fluid(src='./art/comics/SD/Kamigen%20Page%2093-01.png')
            h3 Page 93
        .column.four.wide
          a(href='/comics/page_94.html')
            img.ui.image.fluid(src='./art/comics/SD/Kamigen%20Page%2094-01.png')
            h3 Page 94
        .column.four.wide
          a(href='/comics/page_95.html')
            img.ui.image.fluid(src='./art/comics/SD/Kamigen%20Page%2095-01.png')
            h3 Page 95
        .column.four.wide
          a(href='/comics/page_96.html')
            img.ui.image.fluid(src='./art/comics/SD/Kamigen%20Page%2096-01.png')
            h3 Page 96
        .column.four.wide
          a(href='/comics/page_97.html')
            img.ui.image.fluid(src='./art/comics/SD/Kamigen%20Page%2097-01.png')
            h3 Page 97
        .column.four.wide
          a(href='/comics/page_98.html')
            img.ui.image.fluid(src='./art/comics/SD/Kamigen%20Page%2098-01.png')
            h3 Page 98
        .column.four.wide
          a(href='/comics/page_99.html')
            img.ui.image.fluid(src='./art/comics/SD/Kamigen%20Page%2099-01.png')
            h3 Page 99
        .column.four.wide
          a(href='/comics/page_100.html')
            img.ui.image.fluid(src='./art/comics/SD/Kamigen%20Page%20100-01.png')
            h3 Page 100
        .column.four.wide
          a(href='/comics/page_101.html')
            img.ui.image.fluid(src='./art/comics/SD/Kamigen%20Page%20101-01.png')
            h3 Page 101
        .column.four.wide
          a(href='/comics/page_102.html')
            img.ui.image.fluid(src='./art/comics/SD/Kamigen%20Page%20102-01.png')
            h3 Page 102
        .column.four.wide
          a(href='/comics/page_103.html')
            img.ui.image.fluid(src='./art/comics/SD/Kamigen%20Page%20103-01.png')
            h3 Page 103
        .column.four.wide
          a(href='/comics/page_104.html')
            img.ui.image.fluid(src='./art/comics/SD/Kamigen%20Page%20104-01.png')
            h3 Page 104
        .column.four.wide
          a(href='/comics/page_105.html')
            img.ui.image.fluid(src='./art/comics/SD/Kamigen%20Page%20105-01.png')
            h3 Page 105
        .column.four.wide
          a(href='/comics/page_106.html')
            img.ui.image.fluid(src='./art/comics/SD/Kamigen%20Page%20106-01.png')
            h3 Page 106
        .column.four.wide
          a(href='/comics/page_107.html')
            img.ui.image.fluid(src='./art/comics/SD/Kamigen%20Page%20107-01.png')
            h3 Page 107
        .column.four.wide
          a(href='/comics/page_108.html')
            img.ui.image.fluid(src='./art/comics/SD/Kamigen%20Page%20108-01.png')
            h3 Page 108
        .column.four.wide
          a(href='/comics/page_109.html')
            img.ui.image.fluid(src='./art/comics/SD/Kamigen%20Page%20109-01.png')
            h3 Page 109
        .column.four.wide
          a(href='/comics/page_110.html')
            img.ui.image.fluid(src='./art/comics/SD/Kamigen%20Page%20110-01.png')
            h3 Page 110
        .column.four.wide
          a(href='/comics/page_111.html')
            img.ui.image.fluid(src='./art/comics/SD/Kamigen%20Page%20111-01.png')
            h3 Page 111
        .column.four.wide
          a(href='/comics/page_112.html')
            img.ui.image.fluid(src='./art/comics/SD/Kamigen%20Page%20112-01.png')
            h3 Page 112
        .column.four.wide
          a(href='/comics/page_113.html')
            img.ui.image.fluid(src='./art/comics/SD/Kamigen%20Page%20113-01.png')
            h3 Page 113
        .column.four.wide
          a(href='/comics/page_114.html')
            img.ui.image.fluid(src='./art/comics/SD/Kamigen%20Page%20114-01.png')
            h3 Page 114
        .column.four.wide
          a(href='/comics/page_115.html')
            img.ui.image.fluid(src='./art/comics/SD/Kamigen%20Page%20115-01.png')
            h3 Page 115
