extends /src/templates/website.pug

block append title
  | Issue 2 Transcript | Comics | Kamigen | A Tropical Cyberpunk World

block append scripts
  script(src='./dist/jumbotron.js')

block append content
  .row
    .column
      #page_script.ui.one.column.center.aligned.page.grid
        include /art/comics/scripts/issue_2_cover.txt
        br
        br
        br
        include /art/comics/scripts/page_31.txt
        br
        br
        br
        include /art/comics/scripts/page_32.txt
        br
        br
        br
        include /art/comics/scripts/page_33.txt
        br
        br
        br
        include /art/comics/scripts/page_34.txt
        br
        br
        br
        include /art/comics/scripts/page_35.txt
        br
        br
        br
        include /art/comics/scripts/page_36.txt
        br
        br
        br
        include /art/comics/scripts/page_37.txt
        br
        br
        br
        include /art/comics/scripts/page_38.txt
        br
        br
        br
        include /art/comics/scripts/page_39.txt
        br
        br
        br
        include /art/comics/scripts/page_40.txt
        br
        br
        br