extends /src/templates/comic_reader.pug

block prepend title
  - var page_title_string = "Page 5";

block prepend content
  - var image_url = '../art/comics/HD/Kamigen_Page 5.png';
  - var next_url = '/comics/page_6.html';
  - var previous_url = '/comics/page_4.html';
  - var issue = 'Issue 01';
  - var issue_url = '/comics/issue_1.html';

block append page_script
  include /art/comics/scripts/page_5.txt
