extends /src/templates/comic_reader.pug

block prepend title
  - var page_title_string = "Page 82";

block prepend content
  - var image_url = '../art/comics/HD/Kamigen Page 82-01.png';
  - var previous_url = '/comics/page_81.html';
  - var next_url = '/comics/page_83.html';
  - var issue = 'Issue 03';
  - var issue_url = '/comics/issue_3.html';
