extends /src/templates/comic_reader.pug

block prepend title
  - var page_title_string = "Page 37";

block prepend content
  - var image_url = '../art/comics/HD/Kamigen Page 37-01.png';
  - var next_url = '/comics/page_38.html';
  - var previous_url = '/comics/page_36.html';
  - var issue = 'Issue 02';
  - var issue_url = '/comics/issue_2.html';

block append page_script
  include /art/comics/scripts/page_37.txt
