extends /src/templates/comic_reader.pug

block prepend title
  - var page_title_string = "Page 123";

block prepend content
  - var image_url = '../art/comics/HD/Kamigen Page 123.png';
  - var previous_url = '/comics/page_122.html';
  - var next_url = '/comics/page_124.html';
  - var issue = 'Issue 05';
  - var issue_url = '/comics/issue_5.html';
