extends /src/templates/comic_reader.pug

block prepend title
  - var page_title_string = "Page 118";

block prepend content
  - var image_url = '../art/comics/HD/Kamigen Page 118-01.png';
  - var previous_url = '/comics/page_117.html';
  - var next_url = '/comics/page_119.html';
  - var issue = 'Issue 04';
  - var issue_url = '/comics/issue_4.html';
