extends /src/templates/comic_reader.pug

block prepend title
  - var page_title_string = "Page 42";

block prepend content
  - var image_url = '../art/comics/HD/Kamigen Page 42-01.png';
  - var next_url = '/comics/page_43.html';
  - var previous_url = '/comics/page_41.html';
  - var issue = 'Issue 02';
  - var issue_url = '/comics/issue_2.html';
