extends /src/templates/comic_reader.pug

block prepend title
  - var page_title_string = "Page 28";

block prepend content
  - var image_url = '../art/comics/HD/Kamigen Page 28-01.png';
  - var next_url = '/comics/page_29.html';
  - var previous_url = '/comics/page_27.html';
  - var issue = 'Issue 01';
  - var issue_url = '/comics/issue_1.html';

block append page_script
  include /art/comics/scripts/page_28.txt
