extends /src/templates/wiki.pug

block prepend title
  - var page_title_string = "Characters";

block prepend content
  - var page_title_string = "Characters";

block append page_content
  .ui.dividing.header
  .ui.four.column.grid
    .row
      .column
        h3 Anak
        p
          strong Species: 
          | Balubid
        p
          strong Born: 
          | 1535 AD on Camiguin Island in the Philippines
        .description
          strong Bio: 
          p The last Balubid, Anak's egg was found by Nick in the 16th century on under the Santo Nino cold spring in Camiguin Island in the Philippines.
          p It's implied there was previously an ice glacier under the Santo Nino cold spring.
      .column
        h3 Jim
        p
          strong Species: 
          | Modern Human
        p
          strong Born: 
          | 2242 AD on a free human vessel at sea
        .description
          strong Bio: 
          p Jim was an orphan who grew up drifting between various crews and vessels before finally settling on Kamigen island to start a new life.
          p A talented aircraft pilot since becoming a cyborg, Jim masks his suffering with a light sense of humour.
      .column
        h3 Makaptan a.ka. Kaptan
        p
          strong Species: 
          | Ancient Human
        p
          strong Born: 
          | Over 100 million years ago in the city of Bulawan in Antarctica.
        .description
          p Born into a family of explorers, Kaptan was legendary among his people for being able to fight dinosaurs by turning into a giant.
          p After his fight with Bulawan Dakong Umang, his injuries lead him to becoming a cyborg and he changes his name to Makaptan.
      .column  
        h3 Nick
        p
          strong Species: 
          | Modern Human
        p
          strong Born: 
          | 1516 AD on Camiguin Island in the Phillippines
        .description
          p Descending from Ancient Human settlers, Nick was born on Camiguin Island and loves his home.
          p Fiercely protective of the environment and his people, Nick at some point attains immortality along with his wife Trudy.
    .row  
      .column
        h3 Sumpoy a.ka. Tom
        p
          strong Species: 
          | Ancient Human
        p
          strong Born: 
          | Over 100 million years ago in the city of Bulawan in Antarctica.
        .description
          p Born into a family of scientists, Sumpoy's intellectual prowess is unparalleled and behind saving the human race more than once.
          p Sumpoy cares little for others but will to anything to gain the affection and attention of Makaptan, whom he has served for eons.
      .column      
        h3 Trudy
        p
          strong Species: 
          | Modern Human
        p
          strong Born: 
          | 1535 AD on Camiguin Island in the Philippines
        .description
          p Born the same year as Nick, Trudy grew up in love with her people and their exploits.
          p She believed that one day the Bulawan city would be restored, however hopes to find a real path to it that isn't like Makaptan and Sumpoy's vision for it.