extends /src/templates/wiki.pug

block prepend title
  - var page_title_string = "Concept art";

block prepend content
  - var page_title_string = "Concept art";

block append page_content
  .ui.small.images
    a(href='./art/concept/Camiguin Concept-01.png' target='_blank')
      img.ui.image(src='./art/concept/Camiguin Concept-01.png' target='_blank')
    a(href='./art/concept/Camiguin-Island-Landscape.jpg' target='_blank')
      img.ui.image(src='./art/concept/Camiguin-Island-Landscape.jpg' target='_blank')
    a(href='./art/concept/Cosmic Mythology.png' target='_blank')
      img.ui.image(src='./art/concept/Cosmic Mythology.png' target='_blank')
    a(href='./art/concept/Hangar.png' target='_blank')
      img.ui.image(src='./art/concept/Hangar.png' target='_blank')
    a(href='./art/concept/island sprite.png' target='_blank')
      img.ui.image(src='./art/concept/island sprite.png' target='_blank')
    a(href='./art/concept/Scenes.png' target='_blank')
      img.ui.image(src='./art/concept/Scenes.png' target='_blank')
    a(href='./art/concept/Ship Concept Art-01.png' target='_blank')
      img.ui.image(src='./art/concept/Ship Concept Art-01.png' target='_blank')
    a(href='./art/concept/Ship Concept Art-02.png' target='_blank')
      img.ui.image(src='./art/concept/Ship Concept Art-02.png' target='_blank')
    a(href='./art/concept/Site Design WIP.png' target='_blank')
      img.ui.image(src='./art/concept/Site Design WIP.png' target='_blank')
    a(href='./art/concept/UI mockup-01.png' target='_blank')
      img.ui.image(src='./art/concept/UI mockup-01.png' target='_blank')
    a(href='./art/concept/UI mockup 2-01.png' target='_blank')
      img.ui.image(src='./art/concept/UI mockup 2-01.png' target='_blank')
    a(href='./art/concept/UI mockup 2-02.png' target='_blank')
      img.ui.image(src='./art/concept/UI mockup 2-02.png' target='_blank')
    a(href='./art/concept/UI mockup 2-03.png' target='_blank')
      img.ui.image(src='./art/concept/UI mockup 2-03.png' target='_blank')
