extends /src/templates/wiki.pug

block prepend title
  - var page_title_string = "Character and story info sheets";

block prepend content
  - var page_title_string = "Character and story info sheets";

block append page_content
  p Some of these are a little dated now, but they are still referenced and used as an asset source for comics production and writing.
  .ui.two.column.grid
    .row
      .column
        .ui.items
          .item
            .image
              a(href='./art/comics/assets/Character - Anak-01.png' target='_blank')
                img.ui.image.fluid(src='./art/comics/assets/Character - Anak-01.png' target='_blank')
            .middle.aligned.content
              a.inverted.header(href='./art/comics/assets/Character - Anak-01.png' target='_blank') Anak
              .description
                p 
          .item
            .image
              a(href='./art/comics/assets/Character - Ang Mata-01.png' target='_blank')
                img.ui.image.fluid(src='./art/comics/assets/Character - Ang Mata-01.png' target='_blank')
            .middle.aligned.content
              a.inverted.header(href='./art/comics/assets/Character - Ang Mata-01.png' target='_blank') Ang Mata
              .description
                p 
          .item
            .image
              a(href='./art/comics/assets/Character - Bulawan Dakong Umang-01.png' target='_blank')
                img.ui.image.fluid(src='./art/comics/assets/Character - Bulawan Dakong Umang-01.png' target='_blank')
            .middle.aligned.content
              a.inverted.header(href='./art/comics/assets/Character - Bulawan Dakong Umang-01.png' target='_blank') Bulawan Dakong Umang
              .description
                p After the humans abandon the city, the Umang combine to form this single entity. 
                p This beast has mastered all the wonders of the city except the Ibalhin device, which remains sealed deep inside its structure. 
          .item
            .image
              a(href='./art/comics/assets/Character - Jim-01.png' target='_blank')
                img.ui.image.fluid(src='./art/comics/assets/Character - Jim-01.png' target='_blank')
            .middle.aligned.content
              a.inverted.header(href='./art/comics/assets/Character - Jim-01.png' target='_blank') Jim
              .description
                p
          .item
            .image
              a(href='./art/comics/assets/Character - President Serena Barbate-01.png' target='_blank')
                img.ui.image.fluid(src='./art/comics/assets/Character - President Serena Barbate-01.png' target='_blank')
            .middle.aligned.content
              a.inverted.header(href='./art/comics/assets/Character - President Serena Barbate-01.png' target='_blank') President Serena Barbate
              .description
                p
          .item
            .image
              a(href='./art/comics/assets/Character - Ryoko-01.png' target='_blank')
                img.ui.image.fluid(src='./art/comics/assets/Character - Ryoko-01.png' target='_blank')
            .middle.aligned.content
              a.inverted.header(href='./art/comics/assets/Character - Ryoko-01.png' target='_blank') Ryoko
              .description
                p
      .column
        .ui.items
          .item
            .image
              a(href='./art/comics/assets/Character - The Founder-01.png' target='_blank')
                img.ui.image.fluid(src='./art/comics/assets/Character - The Founder-01.png' target='_blank')
            .middle.aligned.content
              a.inverted.header(href='./art/comics/assets/Character - The Founder-01.png' target='_blank') The Founder
              .description
                p Within the Kamigen lore, a number of other ancient civiisations will be seeded by Bulawans survivors including the Visayas region of the Philippines.
          .item
            .image
              a(href='./art/concept/Old Turtle City-01.png' target='_blank')
                img.ui.image.fluid(src='./art/concept/Old Turtle City-01.png' target='_blank')
            .middle.aligned.content
              a.inverted.header(href='./art/concept/Old Turtle City-01.png' target='_blank') Old Turtle City
              .description
                p 
          .item
            .image
              a(href='./art/comics/assets/Character - The Visayans-01.png' target='_blank')
                img.ui.image.fluid(src='./art/comics/assets/Character - The Visayans-01.png' target='_blank')
            .middle.aligned.content
              a.inverted.header(href='./art/comics/assets/Character - The Visayans-01.png' target='_blank') The Visayans
              .description
                p
          .item
            .image
              a(href='./art/comics/assets/Character - Tom.png' target='_blank')
                img.ui.image.fluid(src='./art/comics/assets/Character - Tom-01.png' target='_blank')
            .middle.aligned.content
              a.inverted.header(href='./art/comics/assets/Character - Tom-01.png' target='_blank') Tom
              .description
                p
          .item
            .image
              a(href='./art/comics/assets/Character - Umang-01.png' target='_blank')
                img.ui.image.fluid(src='./art/comics/assets/Character - Umang-01.png' target='_blank')
            .middle.aligned.content
              a.inverted.header(href='./art/comics/assets/Character - Umang-01.png' target='_blank') Umang
              .description
                p Introducing the Umang swarm and their master - Ang Mata.