extends /src/templates/wiki.pug

block prepend title
  - var page_title_string = "Locations";

block prepend content
  - var page_title_string = "Locations";

block append page_content
  .ui.dividing.header
  .ui.four.column.grid
    .row
      .column
        h3 Bulawan City
        p
          strong Built: 
          | Over 100 million years ago
        p 
          strong Location: 
          | Antarctica
        .description
          p The hub of human civilisation in the Kamigen World's impossible prehistory, Bulawan prospered from the use of various Balubid artefacts.
          p Eventually, the Bulawanons stumble upon the Ibalhin device and it's use triggers their demise and evacuation to the future.
      .column
        h3 Kamigen Island
        p
          strong Discovered: 
          | 2227 AD
        p 
          strong Location: 
          | Approximately in the same location as the original Camiguin Island
        .description
          p The main location of the Kamigen story, the island was created by Nick and Trudy.
          p Prior to settling on the island, the human race was scattered across the endless sea of the drowned Earth.
      .column
        h3 Old Turtle City
        p
          strong Built: 
          | 2190 AD
        p 
          strong Location: 
          | Anchored in the bay of Kamigen Island, originally a floating sea platform
        .description
          p 
      .column  
        h3 Shangri Lah
        p
          strong Discovered: 
          | 2190 AD
        p 
          strong Location: 
          | Anchored in the bay of Kamigen Island, originally a floating sea platform
        .description
          p 
    .row