extends /src/templates/wiki.pug

block prepend title
  - var page_title_string = "Lore";

block prepend content
  - var page_title_string = "Lore";

block append page_content
  h4 Coming soon!
  p This page is still in production.
  