extends /src/templates/wiki.pug

block prepend title
  - var page_title_string = "Production notes";

block prepend content
  - var page_title_string = "Production notes";

block append page_content
  .ui.small.images
    a(href='./art/design/Kamigen Logo-01.png' target='_blank')
      img.ui.image(src='./art/design/Kamigen Logo-01.png' target='_blank')
    a(href='./art/design/Website Footer Logo-01.png' target='_blank')  
      img.ui.image(src='./art/design/Website Footer Logo-01.png' target='_blank')
    a(href='./art/design/Website Logo-01.png' target='_blank')  
      img.ui.image(src='./art/design/Website Logo-01.png' target='_blank')
    a(href='./art/design/Website-01.png' target='_blank')  
      img.ui.image(src='./art/design/Website-01.png' target='_blank')
