extends /src/templates/wiki.pug

block prepend title
  - var page_title_string = "Screenshots";

block prepend content
  - var page_title_string = "Screenshots";

block append page_content
  .ui.small.images
    a(href='./art/screenshots/Kamigen Island shot.PNG' target='_blank')
      img.ui.image(src='./art/screenshots/Kamigen Island shot.PNG' target='_blank')
    a(href='./art/screenshots/Screenshot 2018-09-21.PNG' target='_blank')
      img.ui.image(src='./art/screenshots/Screenshot 2018-09-21.PNG' target='_blank')
    a(href='./art/screenshots/Screenshot 2018-09-22.PNG' target='_blank')
      img.ui.image(src='./art/screenshots/Screenshot 2018-09-22.PNG' target='_blank')
    a(href='./art/screenshots/Screenshot 2019-01-26.PNG' target='_blank')
      img.ui.image(src='./art/screenshots/Screenshot 2019-01-26.PNG' target='_blank')
    a(href='./art/screenshots/Screenshot 2019-01-26-1.PNG' target='_blank')
      img.ui.image(src='./art/screenshots/Screenshot 2019-01-26-1.PNG' target='_blank')
    a(href='./art/screenshots/Screenshot 2019-09-2.PNG' target='_blank')
      img.ui.image(src='./art/screenshots/Screenshot 2019-09-2.PNG' target='_blank')
    a(href='./art/screenshots/Wallpaper.PNG' target='_blank')
      img.ui.image(src='./art/screenshots/Wallpaper.PNG' target='_blank')
