extends /src/templates/wiki.pug

block prepend title
  - var page_title_string = "Timeline";

block prepend content
  - var page_title_string = "Timeline";

block append page_content
  h4 Coming soon!
  p This page is still in production.
  